<% content_for :title do %>
	<div>
	    <h1 class="text-3xl">Audiences</h1>
		<div class="tabs mt-2">
			<%= link_to "Curated", audiences_path(audience_type: "curated"), class: "tab tab-bordered text-lg #{@audience_type == "curated" ? "tab-active" : ""}"%>
			<%= link_to "Custom", audiences_path(audience_type: "custom"), class: "tab tab-bordered text-lg #{@audience_type == "custom" ? "tab-active" : ""}"%>
			<%= link_to "Trending", audiences_path(audience_type: "trending"), class: "tab tab-bordered text-lg #{@audience_type == "trending" ? "tab-active" : ""}"%>
		</div>
	</div>
<% end %>

<%- if @audience_type == "curated" %>
	<%= render "dashboard/audiences/curated"%>
<% end %>

<%- if @audience_type == "custom" %>
	<%= render "dashboard/audiences/custom"%>
<% end %>

<%- if @audience_type == "trending" %>
	<%= render "dashboard/audiences/trending"%>
<% end %>