<div class="navbar bg-base-100 shadow lg: px-10">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 bg-base-100 rounded-box w-52">
        <p class="normal-case text-lg p-2">TrendSearch</p>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Pricing", pricing_path %>
        </li>
        <% if current_user %>
          <li>
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
       <li>
          <%= link_to "Log In", new_user_session_path %>
        </li>
      </ul>
    </div>
    <p class="normal-case text-xl hidden lg:block">TrendSearch</p>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Pricing", pricing_path %>
      </li>
    </ul>
  </div>
  <div class="navbar-end space-x-4">
    <% if current_user %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"%>
      <%= link_to "Login", new_user_session_path, class: "link link-hover"%>
    <% end %>
  </div>
</div>