<div class="py-8 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl sm:text-center">
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Choose the right plan for&nbsp;you</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600 sm:text-center">Whether exploring a niche or validating an idea, we've got a plan for you! </p>
    <div class="mt-14 flow-root">
      <div class="isolate -mt-16 grid max-w-sm grid-cols-1 gap-y-16 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 lg:divide-y-0 lg:divide-x xl:-mx-4">

        <%= render "static/shared/pricing_info",  title: "Free", price: "$0", annual_option: "It's free!", subtext: "Bare bones to get started."  do %>
          <% ["Browse TrendSearch curated audiences", "3 Custom Audiences", "50 Conversation Searches"].each do |benefit| %>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <%= benefit %>
            </li>
          <% end %>
        <% end %>

        <%= render "static/shared/pricing_info",  title: "Starter", price: "$25", annual_option: "$20 per month if paid annually", subtext: "In-depth audience research and segmentation."  do %>
          <%  ["Browse TrendSearch curated audiences", "Unlimited Keyword Search", "15 Custom Audiences", "100 Conversation Searches", "15 Keyword Tracking Alerts"].each do |benefit| %>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <%= benefit %>
            </li>
          <% end %>
        <% end %>

         <%= render "static/shared/pricing_info",  title: "Pro", price: "$45", annual_option: "$40 per month if paid annually", subtext: "Everything in Essential, plus collaboration tools and deeper insights."  do %>
            <% ["Browse TrendSearch curated audiences", "Unlimited Keyword Search", "25 Custom Audiences", "200 Conversation Searches", "30 Keyword Tracking Alerts", "AI Brainstorm Co-pilot"].each do |benefit| %>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
                <%= benefit %>
              </li>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>