<!DOCTYPE html>

<html>
    <%= render "layouts/head" %>
    <body>
        <% flash.map do |type, message| %>
          <%unless message == 'true' %>
            <%= render "shared/flash", type: type, message: message %>
          <% end %>
        <% end %>
        <div data-controller="slideover">
          <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
          <div class="relative z-50 hidden" data-slideover-target="container" role="dialog" aria-modal="true">

            <!--
              Off-canvas menu backdrop, show/hide based on off-canvas menu state.

              Entering: "transition-opacity ease-linear duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "transition-opacity ease-linear duration-300"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div 
            	class="fixed inset-0 bg-gray-900/80"
				data-slideover-target="backdrop"
			    data-transition-enter="transition-opacity ease-linear duration-500"
			    data-transition-enter-start="opacity-0"
			    data-transition-enter-end="opacity-100"
			    data-transition-leave="transition-opacity ease-linear duration-500"
			    data-transition-leave-start="opacity-100"
    			data-transition-leave-end="opacity-0"
            ></div>

            <div class="fixed inset-0 flex">

              <!--
                Off-canvas menu, show/hide based on off-canvas menu state.

                Entering: "transition ease-in-out duration-300 transform"
                  From: "-translate-x-full"
                  To: "translate-x-0"
                Leaving: "transition ease-in-out duration-300 transform"
                  From: "translate-x-0"
                  To: "-translate-x-full"
              -->
            	<div
			  		class="relative mr-16 flex w-full max-w-xs flex-1"
			  		data-slideover-target="menu"
					data-transition-enter="transition ease-in-out duration-500 transform"
				    data-transition-enter-start="-translater-x-full"
				    data-transition-enter-end="translate-x-0"
				    data-transition-leave="transition ease-in-out duration-500 transform"
				    data-transition-leave-start="translate-x-0"
	    			data-transition-leave-end="-translate-x-full"
			 	 >

                <!--
                  Close button, show/hide based on off-canvas menu state.

                  Entering: "ease-in-out duration-300"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "ease-in-out duration-300"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div 
					class="absolute left-full top-0 flex w-16 justify-center pt-5"
					data-slideover-target="closeButton"
					data-transition-enter="ease-in-out duration-500"
				    data-transition-enter-start="opacity-0"
				    data-transition-enter-end="opacity-100"
				    data-transition-leave="ease-in-out duration-500"
				    data-transition-leave-start="opacity-100"
	    			data-transition-leave-end="opacity-0"
					data-action="click->slideover#hide"
				>
                  <button type="button" class="-m-2.5 p-2.5">
                    <span class="sr-only">Close sidebar</span>
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>

                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-primary px-6 pb-2">
                  <div class="flex h-16 shrink-0 items-center">
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="Your Company">
                  </div>
                  <nav class="flex flex-1 flex-col">
                    <ul role="list" class="flex flex-1 flex-col gap-y-7 justify-between">
	                  <li>
	                    <ul role="list" class="-mx-2 space-y-1">
	                      <li>
	                        <!-- Current: "bg-secondary-content text-white", Default: "text-primary-content hover:text-white hover:bg-secondary-content" -->
	                        <%= link_to audiences_path, class: "#{active_dashboard_class(audiences_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
	                          <%= user_group(options: "h-6 w-6 shrink-0 text-white")%>
	                          Audiences
	                        <% end %>
	                      </li>
	                      <li>
	                        <%= link_to keyword_search_path, class: "#{active_dashboard_class(keyword_search_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
	                          <%= search_icon(options: "h-6 w-6 shrink-0 text-white") %>
	                          Keyword Search
	                        <% end %>
	                      </li>
	                      <li>
	                        <%= link_to discussions_path, class: "#{active_dashboard_class(discussions_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
	                          <%= chat_bubbles_icon(options: "h-6 w-6 shrink-0 text-white") %>
	                          Saved Discussions
	                        <% end %>
	                      </li>
	                      <li>
	                        <%= link_to account_path, class: "#{active_dashboard_class(account_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
	                          <%= user_circle_icon(options: "h-6 w-6 shrink-0 text-white")%>
	                          Account
	                        <% end %>
	                      </li>
	                    </ul>
	                  </li>
					  <li>
						<%= button_to destroy_user_session_path, method: :delete , class: "w-full mb-8  text-primary-content hover:text-white hover:bg-secondary-content group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
	                    	<%= arrow_right_on_rectangle_icon(options: "h-6 w-6 shrink-0 text-white")%>
	                    	Logout
	                    <% end %>
					  </li>
	                </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <!-- Static sidebar for desktop -->
          <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-primary px-6">
              <div class="flex h-16 shrink-0 items-center">
                <h1 class="text-2xl font-bold text-primary-content">TrendSearch</h1>
              </div>
              <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7 justify-between">
                  <li>
                    <ul role="list" class="-mx-2 space-y-1">
                      <li>
                        <!-- Current: "bg-secondary-content text-white", Default: "text-primary-content hover:text-white hover:bg-secondary-content" -->
                        <%= link_to audiences_path, class: "#{active_dashboard_class(audiences_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
                          <%= user_group(options: "h-6 w-6 shrink-0 text-white")%>
                          Audiences
                        <% end %>
                      </li>
                      <li>
                        <%= link_to keyword_search_path, class: "#{active_dashboard_class(keyword_search_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
                          <%= search_icon(options: "h-6 w-6 shrink-0 text-white") %>
                          Keyword Search
                        <% end %>
                      </li>
                      <li>
                        <%= link_to discussions_path, class: "#{active_dashboard_class(discussions_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
                          <%= chat_bubbles_icon(options: "h-6 w-6 shrink-0 text-white") %>
                          Saved Discussions
                        <% end %>
                      </li>
                      <li>
                        <%= link_to account_path, class: "#{active_dashboard_class(account_path)} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
                          <%= user_circle_icon(options: "h-6 w-6 shrink-0 text-white")%>
                          Account
                        <% end %>
                      </li>
                    </ul>
                  </li>
				  <li>
					<%= button_to destroy_user_session_path, method: :delete , class: "w-full mb-8  text-primary-content hover:text-white hover:bg-secondary-content group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
                    	<%= arrow_right_on_rectangle_icon(options: "h-6 w-6 shrink-0 text-white")%>
                    	Logout
                    <% end %>
				  </li>
                </ul>
              </nav>
            </div>
          </div>

          <main class="py-10 lg:pl-72">
            <div class="px-4 sm:px-6 lg:px-8">
				<div class="flex items-center lg:items-start justify-between">
					<%= yield :title%>
					<div 
						class="inline-block lg:hidden" 
						data-slideover-target="menuIcon"
						data-action="click->slideover#show"
					>
						<button class="btn btn-square btn-outline">
							<%= hamburger_icon(options: "h-6 w-6")%>
						</button>
					</div>
				</div>
				<div class="py-6">
					<%= yield %>
				</div>
            </div>
          </main>
        </div>
    </body>
    
</html>