<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <% flash.map do |type, message| %>
       <%= render "shared/flash", type: type, message: message %>
    <% end %>
    <%= render "shared/navbar"%>
    <div class="h-screen">
     <%= yield %>
    </div>
    <%= render "shared/footer"%>
  </body>
</html>

