<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/navbar"%>
    <div class="h-screen">
     <%= yield %>
    </div>
    <%= render "shared/footer"%>
  </body>
</html>

